{"kind":"GlobalDatasource","metadata":{"name":"oql-otel-trace","createdAt":"2026-04-01T06:20:45.560260885Z","updatedAt":"2026-04-01T06:20:45.560260885Z","version":0},"spec":{"default":true,"plugin":{"kind":"LokiDatasource","spec":{"proxy":{"kind":"HTTPProxy","spec":{"allowedEndpoints":[{"endpointPattern":"/loki/api/v1/query","method":"GET"},{"endpointPattern":"/loki/api/v1/query_range","method":"GET"},{"endpointPattern":"/loki/api/v1/labels","method":"GET"},{"endpointPattern":"/loki/api/v1/label/([a-zA-Z0-9_-]+)/values","method":"GET"},{"endpointPattern":"/loki/api/v1/series","method":"GET"},{"endpointPattern":"/loki/api/v1/index/volume","method":"GET"},{"endpointPattern":"/loki/api/v1/index/volume_range","method":"GET"},{"endpointPattern":"/loki/api/v1/index/stats","method":"GET"},{"endpointPattern":"/loki/api/v1/tail","method":"GET"}],"headers":{"X-tenant-id":"0"},"url":"{{OTEL_OQL_ENDPOINT}}"}}}}}}
