{"kind":"GlobalDatasource","metadata":{"name":"otel-oql-metrics","createdAt":"2026-03-31T20:11:27.165076832Z","updatedAt":"2026-03-31T20:11:27.165076832Z","version":0},"spec":{"default":true,"plugin":{"kind":"PrometheusDatasource","spec":{"proxy":{"kind":"HTTPProxy","spec":{"allowedEndpoints":[{"endpointPattern":"/api/v1/labels","method":"POST"},{"endpointPattern":"/api/v1/series","method":"POST"},{"endpointPattern":"/api/v1/metadata","method":"GET"},{"endpointPattern":"/api/v1/query","method":"POST"},{"endpointPattern":"/api/v1/query_range","method":"POST"},{"endpointPattern":"/api/v1/label/([a-zA-Z0-9_-]+)/values","method":"GET"},{"endpointPattern":"/api/v1/parse_query","method":"POST"}],"headers":{"X-tenant-id":"0"},"url":"{{OTEL_OQL_ENDPOINT}}"}}}}}}
