{"kind":"GlobalDatasource","metadata":{"name":"otel-oql-logs","createdAt":"2026-04-01T06:19:37.637217303Z","updatedAt":"2026-04-01T06:19:37.637217303Z","version":0},"spec":{"default":true,"plugin":{"kind":"TempoDatasource","spec":{"proxy":{"kind":"HTTPProxy","spec":{"allowedEndpoints":[{"endpointPattern":"/api/search","method":"GET"},{"endpointPattern":"/api/traces","method":"GET"},{"endpointPattern":"/api/v2/search/tags","method":"GET"},{"endpointPattern":"/api/v2/search/tag","method":"GET"}],"headers":{"X-tenant-id":"0"},"url":"{{OTEL_OQL_ENDPOINT}}"}}}}}}
